#header_btn_video {
    background-color: #785df3;
}

#nav_btn_video {
    background-color: #069cfd;
}

.video_tiktok_box {
    width: 170px;
    height: 296.94px;
    display: inline-block;
    text-decoration: none;
    margin: 0px 20px 90px 0px;
}

.video_tiktok_items {
    width: 170px;
    cursor: pointer;
    height: 296.94px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid #c8bfe7;
}

.video_tiktok_box:hover .video_tiktok_items {
    filter: brightness(70%);
    transition: 0.3s;
}

h2 {
    font-family: 'Nunito', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.video_tiktok_box:hover h2 {
    color: #785df3;
    transition: 0.3s;
}

h3 {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.video_tiktok_box:hover h3 {
    font-weight: 600;
}

.margin_height {
    height: 45px;
}




@media only screen and (max-width: 498px) {
    .video_tiktok_box {
        width: 100%;
    }
    .video_tiktok_items {
        width: 100%;
    }
}