#header_btn_video {
    background-color: #785df3;
}

#nav_btn_video {
    background-color: #069cfd;
}

#container video,
#container iframe{
    width: 26%;
}

.btn_episole {
    border: 2px solid #5840aa;
    padding: 7px 12px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
}

.btn_episole:hover {
    background-color: #a48cf7;
    border-color: #a48cf7;
    color: #000000;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
}

p {
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.margin_height {
    height: 45px;
}

.link_watch {
    font-size: 23px;
    color: #0000ff;
    margin-right: 25px;
    text-decoration: none;
}

.link_watch:hover {
    color: #ff0000;
    text-decoration: underline;
}

.♫ {
    user-select: none;
}





@media only screen and (max-width: 1155px) {
    html {
        padding: 0px;
    }
    header {
        padding: 0px 30px 0px 10px;
    }
    #navigation {
        display: none;
    }
    header #header_item_navigation .header_items {
        font-size: 20px;
        padding: 0px 25px;
    }
    #container {
        padding: calc(var(--header-height) + 26px) 15px 150px 15px;
    }
}
@media only screen and (max-width: 869px) {
    header {
        text-align: center;
    }
    header #header_item_navigation {
        float: none;
    }
    #header_logo_title {
        display: none;
    }
  h1 {
      font-size: 25px;
  }
  #container video {
      width: 100%;
  }
  .btn_episole {
      margin-bottom: 15px;
  }
}
@media only screen and (max-width: 596px) {
  header {
      padding: 0px;
  }
    header #header_logo_web {
        display: none;
    }
}
@media only screen and (max-width: 557px) {
    header #header_item_navigation .header_items {
        font-size: 15px;
        padding: 0px 13px;
    }
}